{:kotoba.app/id "cloud.itonami.isic-7120", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiaq2h4wvxsqvm5aia2wqmldh5glkslo6d36g5tqmzbvy6ofpwcd5u", :kotoba.app/embed-url "ipfs://bafkreiaq2h4wvxsqvm5aia2wqmldh5glkslo6d36g5tqmzbvy6ofpwcd5u", :published {:archive "https://kotobase.net/ipfs/bafkreiaq2h4wvxsqvm5aia2wqmldh5glkslo6d36g5tqmzbvy6ofpwcd5u", :size 73995, :put-status 201, :get-status 200, :at "2026-08-15T13:33:21.116Z"}}
